.oppositeContainer:-webkit-full-screen {
	width: 100% !important;
	height: 100% !important;
}

.oppositeContainer:-moz-full-screen {
	width: 100% !important;
	height: 100% !important;
}

.oppositeContainer:-ms-full-screen {
	width: 100% !important;
	height: 100% !important;
}

.oppositeContainer:-o-full-screen {
	width: 100% !important;
	height: 100% !important;
}

.oppositeContainer:full-screen {
	width: 100% !important;
	height: 100% !important;
}

.selfContainer:-webkit-full-screen {
	width: 100% !important;
	height: 100% !important;
}

.selfContainer:-moz-full-screen {
	width: 100% !important;
	height: 100% !important;
}

.selfContainer:-ms-full-screen {
	width: 100% !important;
	height: 100% !important;
}

.selfContainer:-o-full-screen {
	width: 100% !important;
	height: 100% !important;
}

.selfContainer:full-screen {
	width: 100% !important;
	height: 100% !important;
}

.operationicon {
	width: 26px;
	height: 26px;
	margin-right: 2px;
	margin-left: 2px;
	cursor: pointer;
}

.questionoptions {
	margin-top: 5px;
}

.divline {
	border-color: #ce2923;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-width: 2px;
	padding-bottom: 10px;
}

.scrollTable {
	height: 200px;
	overflow: auto;
	display: none;
}

#reporting {
	position: absolute;
	/* top: 35px;
	right: 20px;
	*/
	text-align: left;
	border: 1px solid #c7bf93;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 6px 8px;
	min-width: 50px;
	max-width: 225px;
	color: #000;
	background-color: #fff9c9;
}

.leftAlignTableitem{
 text-align: left;
}


.redlabel{
	color:red;
}

.autohr{
	margin-left:auto;
	margin-right:auto
}


.pagefont{
	font-size: 14px;
}

.pagefont_b{
	font-size: 14px;
	font-weight: bold;
}

.trainingimg{
	width: 100%;
	height: 187px;
}

.pdficon{
	width:14px;
	height:14px;
}

.surveyerror{
	color:red;
	display:none;
}

.nonverbalTipFont{
	font-size:16px;
}
