.jumbotron {
  text-align: center;
  background-color: transparent;
  padding:0px;
}

.loginBtn{
	background-color: #fc0;
	border-color : #fc0;
}

.oppositeContainer:-webkit-full-screen {
    width: 100% !important;
    height: 100% !important;
}

.oppositeContainer:-moz-full-screen {
    width: 100% !important;
    height: 100% !important;
}

.oppositeContainer:-ms-full-screen {
    width: 100% !important;
    height: 100% !important;
}

.oppositeContainer:-o-full-screen {
    width: 100% !important;
    height: 100% !important;
}

.oppositeContainer:full-screen {
    width: 100% !important;
    height: 100% !important;
}

.selfContainer:-webkit-full-screen {
    width: 100% !important;
    height: 100% !important;
}

.selfContainer:-moz-full-screen {
    width: 100% !important;
    height: 100% !important;
}

.selfContainer:-ms-full-screen {
    width: 100% !important;
    height: 100% !important;
}

.selfContainer:-o-full-screen {
    width: 100% !important;
    height: 100% !important;
}

.selfContainer:full-screen {
    width: 100% !important;
    height: 100% !important;
}

.operationicon {
    width: 26px;
    height: 26px;
    margin-right: 2px;
    margin-left: 2px;
    cursor: pointer;
    display: inline;
}

.questionoptions {
    margin-top: 5px;
}

.divline {
    border-color: #ce2923;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    padding-bottom: 10px;
}

.scrollTable {
    height: 200px;
    overflow: auto;
    display: none;
}

#reporting {
    position: absolute;
    /* top: 35px;
    right: 20px;
    */
    text-align: left;
    border: 1px solid #c7bf93;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 6px 8px;
    min-width: 50px;
    max-width: 225px;
    color: #000;
    background-color: #fff9c9;
}

.leftAlignTableitem{
 text-align: left;
}


.redlabel{
    color:red;
}

.autohr{
    margin-left:auto;
    margin-right:auto
}


.pagefont{
    font-size: 14px;
}

.pagefont_b{
    font-size: 14px;
    font-weight: bold;
}

.trainingimg{
    width: 100%;
    height: 187px;
}

.pdficon{
    width:14px;
    height:14px;
    display: inline;
}

.surveyerror{
    color:red;
    display:none;
}

.nonverbalTipFont{
    font-size:16px;
}


.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
    
}


.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {
    float: left
}
.col-lg-12 {
    width: 100%
}
.col-lg-11 {
    width: 91.66666667%
}
.col-lg-10 {
    width: 83.33333333%
}
.col-lg-9 {
    width: 75%
}
.col-lg-8 {
    width: 66.66666667%
}
.col-lg-7 {
    width: 58.33333333%
}
.col-lg-6 {
    width: 50%
}
.col-lg-5 {
    width: 41.66666667%
}
.col-lg-4 {
    width: 33.33333333%
}
.col-lg-3 {
    width: 25%
}
.col-lg-2 {
    width: 16.66666667%
}
.col-lg-1 {
    width: 8.33333333%
}

.container {
        width: 970px
    }
    .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11
        {
        float: left
    }
    .col-md-12 {
        width: 100%
    }
    .col-md-11 {
        width: 91.66666666666666%
    }
    .col-md-10 {
        width: 83.33333333333334%
    }
    .col-md-9 {
        width: 75%
    }
    .col-md-8 {
        width: 66.66666666666666%
    }
    .col-md-7 {
        width: 58.333333333333336%
    }
    .col-md-6 {
        width: 50%
    }
    .col-md-5 {
        width: 41.66666666666667%
    }
    .col-md-4 {
        width: 33.33333333333333%
    }
    .col-md-3 {
        width: 25%
    }
    .col-md-2 {
        width: 16.666666666666664%
    }
    .col-md-1 {
        width: 8.333333333333332%
    }


.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.nav>li {
    position: relative;
    display: block
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px
}

.nav>li>a:hover,.nav>li>a:focus {
    text-decoration: none;
    background-color: #eee
}

.nav>li.disabled>a {
    color: #777
}

.nav>li.disabled>a:hover,.nav>li.disabled>a:focus {
    color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent
}

.nav .open>a,.nav .open>a:hover,.nav .open>a:focus {
    background-color: #eee;
    border-color: #428bca
}

.nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5
}

.nav>li>a>img {
    max-width: none
}

.nav-tabs {
    border-bottom: 1px solid #ddd
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0
}

.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus
    {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent
}

.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0
}

.nav-tabs.nav-justified>li {
    float: none
}

.nav-tabs.nav-justified>li>a {
    margin-bottom: 5px;
    text-align: center
}

.nav-tabs.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto
}

.row {
    margin-right: 0px;
    margin-left: 0px
}


.form-group {
    margin-bottom: 15px
}

.form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle
    }
    .form-inline .form-control {
        display: inline-block
    }
    .form-inline .radio,.form-inline .checkbox {
        display: inline-block;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0
    }
    .form-inline .radio input[type="radio"],.form-inline .checkbox input[type="checkbox"]
        {
        float: none;
        margin-left: 0
    }
}

.form-horizontal .control-label,.form-horizontal .radio,.form-horizontal .checkbox,.form-horizontal .radio-inline,.form-horizontal .checkbox-inline
    {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px
}

.form-horizontal .form-group:before,.form-horizontal .form-group:after {
    display: table;
    content: " "
}

.form-horizontal .form-group:after {
    clear: both
}

.form-horizontal .form-group:before,.form-horizontal .form-group:after {
    display: table;
    content: " "
}

.form-horizontal .form-group:after {
    clear: both
}

.form-horizontal .form-control-static {
    padding-top: 7px
}

.radio input[type="radio"],.radio-inline input[type="radio"],.checkbox input[type="checkbox"],.checkbox-inline input[type="checkbox"]
    {
    float: left;
    margin-left: -20px
}

.radio+.radio,.checkbox+.checkbox {
    margin-top: -5px
}

.radio-inline,.checkbox-inline {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    vertical-align: middle;
    cursor: pointer
}

.radio-inline+.radio-inline,.checkbox-inline+.checkbox-inline {
    margin-top: 0;
    margin-left: 10px
}

input[type="radio"][disabled],input[type="checkbox"][disabled],.radio[disabled],.radio-inline[disabled],.checkbox[disabled],.checkbox-inline[disabled],fieldset[disabled] input[type="radio"],fieldset[disabled] input[type="checkbox"],fieldset[disabled] .radio,fieldset[disabled] .radio-inline,fieldset[disabled] .checkbox,fieldset[disabled] .checkbox-inline
    {
    cursor: not-allowed
}

.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    color: inherit;
}

.

.jumbotron h1,.jumbotron .h1 {
    color: inherit
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200
}

.jumbotron>hr {
    border-top-color: #d5d5d5
}

.container .jumbotron {
    border-radius: 6px
}

.jumbotron .container {
    max-width: 100%
}


/* switch button  */
.Switch {
position: relative;
display: inline-block;
font-size: 1em;
font-weight: bold;
color: #ccc;
text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
height: 18px;
padding: 6px 6px 5px 6px;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,0.2);
border-radius: 4px;
background: #ececec;
box-shadow: 0px 0px 4px rgba(0,0,0,0.1), inset 0px 1px 3px 0px rgba(0,0,0,0.1);
cursor: pointer;
}

.Switch span { display: inline-block; width: 35px; }
.Switch span.On { color: #ce2923; }

.Switch .Toggle {
position: absolute;
top: 1px;
width: 37px;
height: 25px;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,0.3);
border-radius: 4px;
background: #fff;
background: -moz-linear-gradient(top,  #ececec 0%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(top,  #ececec 0%,#ffffff 100%);
background: -o-linear-gradient(top,  #ececec 0%,#ffffff 100%);
background: -ms-linear-gradient(top,  #ececec 0%,#ffffff 100%);
background: linear-gradient(top,  #ececec 0%,#ffffff 100%);

box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.5);
z-index: 999;

-webkit-transition: all 0.15s ease-in-out;
-moz-transition: all 0.15s ease-in-out;
-o-transition: all 0.15s ease-in-out;
-ms-transition: all 0.15s ease-in-out;
}

.Switch.On .Toggle { left: 2%; }
.Switch.Off .Toggle { left: 53%; }


/* Round Switch */
.Switch.Round {
padding: 0px 20px;
border-radius: 40px;
}

.Switch.Round .Toggle {
border-radius: 40px;
width: 14px;
height: 14px;
}

.Switch.Round.On .Toggle { left: 3%; background: #ce2923; }
.Switch.Round.Off .Toggle { left: 58%; }

a{
    cursor:pointer;
    cursor:hand;
}

.fc-time:after { content: "m"; }

.estimation {
	color:red;
}

.nvbfeedbackDividLine {
	border-color: #000000;
	margin-top:20px;
	margin-bottom:20px;
}

.emailLikertButton {
	width:300px;
	margin-top:5px;
}

.emailQuestionnaire {
  background-color: transparent;
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
	
}