/*
.has-detail .detail {
  display: none;
}

.has-detail:hover .detail {
  display:inline-block;
}

.has-detail .undetail {

  display:inline-block;
}

.has-detail:hover .undetail {
  display: none ;
}


.debug {
  border: 1px solid red ;
}

.debug svg {
  border: 1px solid green ;
}


.experience {

  clear:both;
}

.experience .title {
  font-size: 18px;
}

.experience .mood {
   line-height: 50px ;
   font-size: 20px;
   color: white;

   width: 100px;
   height: 50px;

  position:absolute;

  top: 0px;
}

.experience .mood .detail {
  font-size: 14px;
}


.experience .mood-before {

  left: 0px;
}

.experience .mood-after {

  right: 0px;
}

.experience .content {

    position:absolute;
    left: 100px;
    right: 100px;
    top: 0px;

    opacity: 1;
    z-index: 2 ;
}

.experience .tags {

    position: absolute ;

    right: 0px;
    bottom: 0px ;
}

.experience .background {

    position:absolute;
    left: 100px;
    right: 100px;
    top: 0px;

    opacity: 0.8;
    z-index: 1;

    height: 50px ;
}




a {
  cursor: pointer;
}



.btn-strong {
  font-weight: bold;
  color: black;
  cursor: pointer ;
}







.input-badge {
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  width: 70px;

  white-space: nowrap;
  text-align: center;

  border: 1px solid #ccc;
  border-radius: 10px;

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}



.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

#mood_content {
  padding-left: 15%
}

*/