 /* Styles for the page */
    html, body {
        /* font: 10pt arial;*/	
    }

    #mytimeline {
    }

    #new {
        position: absolute;
        left: 25px;
        top: 8px;

        text-transform: uppercase;
        color: white;
        font-weight: bold;
        font-size: 40px;
        text-decoration: none;
    }

    /* Custom styles for the Timeline */
    div.timeline-frame {
        border-color: #5D99C3;

        border-radius: 5px;
        -moz-border-radius: 5px; /* For Firefox 3.6 and older */
    }
    div.timeline-axis {
        border-color: #5D99C3;

        background-color: #5D99C3;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5D99C3', endColorstr='#3A6DA0'); /* for IE */
        background: -webkit-gradient(linear, left top, left bottom, from(#5D99C3), to(#3A6DA0)); /* for webkit browsers */
        background: -moz-linear-gradient(top,  #5D99C3,  #3A6DA0); /* for firefox 3.6+ */
    }
    div.timeline-axis-grid {
    }
    div.timeline-groups-axis {
        border-color: #5D99C3;
    }
    /*
    div.timeline-axis-text {
        color: white;
    }
    */
    div.timeline-groups-text {
        color: #4D4D4D;
        font-weight: bold;
    }
    div.timeline-event {
        color: white;
        border-radius: 5px;
    }
    div.timeline-event-content {
        padding: 5px;
    }

    div.doctor {
        background-color: #5cb85c; /* green */
        border-color: #5cb85c;     /* green */
    }
    div.patient {
        background-color: #d9534f; /* red */
        border-color: #d9534f;     /* red */
    }
    
    div.sp {
         background-color: #1AA11A; /* green */
        border-color: #136e13;     /* green */
    }
    
    div.tutor {
        background-color: #d9534f; /* red */
        border-color: #d9534f;     /* red */
    }
    

	div.selftouch {
        background-color: #1AA11A; /* green */
        border-color: #136e13;     /* green */
    }
    div.smile {
        background-color: #F03030; /* red */
        border-color: #bd2828;     /* red */
    }
    
    div.licking {
        background-color: #FFA500; /* orange */
        border-color: #cc8100;     /* orange */
    }
     div.pursing {
        background-color: #1AA11A; /* green */
        border-color: #136e13;     /* green */
    }
    div.lws {
        background-color: #F03030; /* red */
        border-color: #bd2828;     /* red */
    }
    
    div.lwl {
        background-color: #FFA500; /* orange */
        border-color: #cc8100;     /* orange */
    }
	div.relaxed {
        background-color: #1AA11A; /* green */
        border-color: #136e13;     /* green */
    }
    div.pleasant {
        background-color: #F03030; /* red */
        border-color: #bd2828;     /* red */
    }
    
    div.angry {
        background-color: #FFA500; /* orange */
        border-color: #cc8100;     /* orange */
    }
    div.nodding {
        background-color: #F03030; /* red */
        border-color: #bd2828;     /* red */
    }
    div.shaking {
        background-color: #1AA11A; /* green */
        border-color: #136e13;     /* green */
    }
    div.openpos {
        background-color: #F03030; /* red */
        border-color: #bd2828;     /* red */
    }
    
    div.stillpos {
        background-color: #FFA500; /* orange */
        border-color: #cc8100;     /* orange */
    }
    div.dspeaking {
        background-color: #1AA11A; /* green */
        border-color: #136e13;     /* green */
    }
    div.pspeaking {
        background-color: #F03030; /* red */
        border-color: #bd2828;     /* red */
    }
    
    div.faster {
        background-color: #FFA500; /* orange */
        border-color: #cc8100;     /* orange */
    }

    div.lowpitch {
        background-color: #1AA11A; /* green */
        border-color: #136e13;     /* green */
    }
    div.increasepitch {
        background-color: #F03030; /* red */
        border-color: #bd2828;     /* red */
    }
    
    div.interruption {
        background-color: #FFA500; /* orange */
        border-color: #cc8100;     /* orange */
    }
    div.laughter {
        background-color: #1AA11A; /* green */
        border-color: #136e13;     /* green */
    }
    div.crying {
        background-color: #F03030; /* red */
        border-color: #bd2828;     /* red */
    }
    
    div.louder {
        background-color: #FFA500; /* orange */
        border-color: #cc8100;     /* orange */
    }
    div.mimicry {
         background-color: #1AA11A; /* green */
        border-color: #136e13;     /* green */
    }